{% extends 'base.html.twig' %}

{% block title %}Hello YogaController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/AN_4/licenta/fitnessapp/FitnessApp/src/Controller/YogaController.php'|file_link(0) }}">src/Controller/YogaController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/AN_4/licenta/fitnessapp/FitnessApp/templates/yoga/index.html.twig'|file_link(0) }}">templates/yoga/index.html.twig</a></code></li>
    </ul>
</div>


{% endblock %}
