{% extends 'base.html.twig' %}

{% block body %}
<form action="{{ path('exercise_update', {'id': exercise.id}) }}" method="POST">
        <button type="submit">Update</button>
        <input type="hidden" name="_method" value="PUT">
        {{ form_rest(form) }}
    </form> 
{% endblock %} 