{% extends 'base.html.twig' %}

{% block body %}
    <h1>Delete Weight</h1>

    <p>Are you sure you want to delete the Weight "{{ dietPlanDatabase.weight }}"?</p>

    <form method="post" action="{{ path('weight_delete', { 'id': dietPlanDatabase.id }) }}">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dietPlanDatabase.id) }}">
        <button type="submit">Delete</button>
    </form>
{% endblock %}