{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Weight</h1>

    {{ form_start(form) }}
        {{ form_row(form.weight) }}
        <button type="submit">Calculate Edit value</button>
    {{ form_end(form) }}

{% endblock %}


