{% extends 'base.html.twig' %}

{% block title %}Hello WorkoutController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<div class="album py-5 bg-body-tertiary">
    <div class="container">
    <div class="text-center">
        <h1>Here are your workouts!</h1>
        <h3>What will you choose today?</h3>
        <br><br>
    </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {# ------------------------YOGA #}
      <div class="col">
          <div class="card shadow-lg">
            <img src="https://i.postimg.cc/gJNzn1sf/yoga2.jpg" class="img-thumbnail" alt="img" width="100%" height="255" aria-label="Placeholder: Thumbnail">
            <div class="card-body">
              <p class="card-text">
              <h4>Yoga</h4> 
                    Yoga is the integration of body and breath through stretching, isometric bodyweight exercises, and moving meditation. 
                            Regular practice will help mobilize joints, stretch ligaments and strengthen muscles — in summary, keep you limber.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button onclick="window.location.href = '/start';">Try it!</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        {# ------------------------STRETCHING#}
      <div class="col">
          <div class="card shadow-lg">
            <img src="https://i.postimg.cc/1XQd1zDS/exercitii-stretching.jpg" class="img-thumbnail" alt="img" width="100%" height="225" aria-label="Placeholder: Thumbnail">
            <div class="card-body">
              <p class="card-text">
              <h4>Stretching</h4> 
                    Every stretch can be either static or dynamic and passive or active. 
                    Dynamic and active stretches are more helpful for improving functional movements used in everyday life and sports.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button onclick="window.location.href = '/create/workout';">Try it!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {# ------------------------PILATES#}
       <div class="col">
          <div class="card shadow-lg">
            <img src="https://i.postimg.cc/c48cBW3M/pilates.jpg" class="img-thumbnail" alt="img" width="100%" height="225" aria-label="Placeholder: Thumbnail">
            <div class="card-body">
              <p class="card-text">
              <h4>Pilates</h4> 
                    Developed by Joseph Pilates, this method of exercise incorporates controlled movements with an emphasis on alignment, breathing and building the core—referred to by Pilates instructors as the “Powerhouse”. 
                    Over time Pilates will not only increase flexibility but help improve coordination, balance and all-round stability.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-md btn-outline-primary">Try it!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        {# -------------------------CREATE WORKOUT #}
          <div class="col">
          <div class="card shadow-sm">
            
            <div class="card-body">
              <p class="card-text">
              <h4>Create your own workout!</h4> 
                    Feel free to choose from a variety of at home exercises! You don't need gym equipment only dedication and the will to sweat it out!
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% if app.user %}
                        <button onclick="window.location.href = '';">Create New Workout +</button>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>

{% endblock %}
